@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@material-design-icons/font/material-icons.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@material-design-icons/font/material-icons-outlined.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@material-design-icons/font/material-icons-round.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons Sharp';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@material-design-icons/font/material-icons-sharp.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons Two Tone';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@material-design-icons/font/material-icons-two-tone.woff2') format('woff2');
}

.material-icons,
.material-icons-outlined,
.material-icons-round,
.material-icons-sharp,
.material-icons-two-tone {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-transform: none;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.material-icons {
    font-family: 'Material Icons';
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
}

.material-icons-round {
    font-family: 'Material Icons Round';
}

.material-icons-sharp {
    font-family: 'Material Icons Sharp';
}

.material-icons-two-tone {
    font-family: 'Material Icons Two Tone';
}
